<h3>Servers Component</h3>
<div>
    <label for="server-name" class="form-label">Input server name</label>
    <!-- One Way Data Binding Only update from user input -->
    <!-- <input type="text" id="server-name" class="form-control" 
    (input)="onUpdateServerName($event)"> -->

    <!-- Two Way data Binding update either from your program or from a form input -->
    <input type="text" class="form-control" [(ngModel)]="serverName">
    <div>
        <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onClick()">Create Server</button>
        <p *ngIf="serverCreated">{{serverCreationStatus}}</p>
    </div>
    <app-server *ngFor="let server of servers"></app-server>
</div>
<hr>
<app-test01></app-test01>
<app-test02></app-test02>